@font-face {
  font-family: 'PokemonSolid';
  src: url('fonts/PokemonSolid.ttf') format('truetype');
}


body {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    background: linear-gradient(to bottom, #ede6cb, #e9dcd6);
    width: 50%;
    margin: auto;

}

#tituPokedex {
    font-family: 'PokemonSolid', sans-serif;
  color: #ffcb05;
  text-shadow: 2px 2px #3d7dca;
}

.content {
  border: 1px solid black;
  border-radius: 20px;
  margin: 20px;
  background: linear-gradient(to bottom, #ff534a, #fcccb6);
}

.tablita {
    max-width: 100%;
    padding: 10px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.tablita table {
    width: 100%;
    max-width: 500px;
}

.tablita table, th, td {
    border: 1px solid;
    border-collapse: collapse;
    padding: 3px;
    text-align: center;
    background-color: rgb(252, 182, 157);
}

img {
    width: 200px;
    line-height: 200px;
}

#images {
  width: 70%;
  margin: auto;
  border: 1px solid black;
  background: linear-gradient(to bottom, #86d7fa, #b6d9fc);
  border-radius: 20px;
  
}

header, div {
    text-align: center;
}

.audio-cont {
  display: flex;
  justify-content: center;
  padding: 10px;
}

.audio-container audio {
  width: 100%;
  max-width: 400px; 
}

input[type=text] {
  width: 215px;
  border: 1px solid black;
  border-radius: 8px;
}


@media screen and (max-width: 600px) {
  .tablita th,
  .tablita td {
    padding: 6px;
  }
}
